{% extends "staff/index.html" %}

{% block content %}

<div class="card mb-12">
    <div class="card shadow mb-4">
        <div class="card-header">
            <h4 class="m-0 font-weight-bold text-primary" style="text-align: center">Password Changed</h4>
        </div>

        <div class="card-body">
             <h2>Your password has been changed.</h2>
            <div class="form-group">
                <a href="{% url 'web:dashboard' %}" class="btn btn-primary">Back</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}