{% extends "staff/base.html" %}
{% load static %}


{% block css %}

<!-- Custom styles for this page -->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

{# Include FontAwesome; required for icon display #}
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">

{% endblock css %}


{% block intActive %}active{% endblock intActive %}


{% block content %}

<!-- Page Heading -->

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Interested Donor Information</h1>
</div>


<div class="card mb-12">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h4 class="m-0 font-weight-bold text-primary" style="text-align: center">Interested Donors</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Name </th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Nationality</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for donor in donors %}
                        <tr>
                            <td>{{ donor.date }}</td>
                            <td>{{ donor.name }}</td>
                            <td>{{ donor.phone }}</td>
                            <td>{{ donor.email }}</td>
                            <td>{{ donor.nationality }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block js %}

<!-- Page level plugins -->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>

{% endblock js %}
